@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --background: 222.2 84% 4.9%;
  --foreground: 226 64% 88%;
}

body {
  background-color: #1E1E2E;
  color: #CDD6F4;
}

::selection {
  background-color: rgba(203, 166, 247, 0.3);
  color: #CDD6F4;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #181825;
}
::-webkit-scrollbar-thumb {
  background: #313244;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #585B70;
}
